body {
   display: flex;
    background-image:url(https://cdn.vectorstock.com/i/1000x1000/36/96/cartoon-scary-clown-head-on-white-background-vector-26573696.webp);
    justify-content: space-around;
    background-color: aquamarine;
    height: 100vh
}
h1 {font-size: 60px;
    font-style:inherit;
font-weight: 500;}

.button {
    margin-top: 2em;
    color: rgb(33, 74, 60);
}

.clowns {
    display:flex;
    
    justify-content: space-between;
    margin-top: 1em;
}

.serviceForm {


justify-content: center;
margin-bottom: 2em;
}

.clown_image {
    
    height: 30em;
    width:25em

}